@{
    ViewData["Title"] = "Add";
}

<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
    <input type = "text" name="name" />
    <button type="submit">Kaydet</button>
</form>